.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: black
}

button {
    box-shadow: none !important;
}

.top-title {
    background-color: white;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 2;
}

.bottom-tab {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.dot {
    margin: 6px auto 0;
    width: 4px; /* Adjust dot size */
    height: 4px; /* Adjust dot size */
    background-color: black; /* Adjust dot color */
    border-radius: 100%; /* Make it a circle */
}

.responsive {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.responsive::-webkit-scrollbar {
    display: none;
}

.tabs {
    display: table;
    border-collapse: separate;
    table-layout: auto;
    button.tab {
        position: relative;
        display: table-cell;
        white-space: nowrap;
        cursor: pointer;
    }
}